@model AppStore.Models.Domain.Categoria

@{
}
<div>
<form class="w-40" asp-action="Edit" method="post" enctype="multipart/form-data">
    <h2>
        Actualizar Categoria
    </h2>
    <input type="hidden" class="input" asp-for="id">

    <div class="input-container">
        <label asp-for="Nombre" class="w-40">Nombre</label>
        <input type="text" class="input" asp-for="Nombre">
    </div>


  
    @if(TempData["Msg"]!=null){
        <div class="alert-mb1">
            @TempData["Msg"]
        </div>
    }
    <div class="input-continer">
        <button class="btn btn-default">Guardar</button>
        <a class="btn btn-sec" href="/Categoria/CategoriaList">Ver todo</a>

    </div>

</form>
</div>